.nav {
	margin-left: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #003049;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
}

.nav h2 {
	color: #adc178;
	font-size: 1.7rem;
}

#item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#item li {
	list-style: none;
	padding-right: 50px;
}

.p1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
}

.p1:hover {
	color: #33ffff;
	cursor: pointer;
}

.image {
	filter: drop-shadow(0 0 0.25rem #33ffff);
}

.image:hover {
	filter: invert(100%);
	filter: drop-shadow(0 0 0.25rem #33ffff);
}

.logo {
	scale: 80%;
	filter: invert(100%);
}

.logo:hover {
	cursor: pointer;
}

ul,
li {
	margin: 0;
	padding: 0;
}
.main {
	position: absolute;
	margin-top: 20%;
	z-index: 1;
	scale: 200%;
}
.main li {
	list-style: none;
	background-color: #003049;
	width: 100px;
	padding: 0 5px;
	height: 30px;
	line-height: 30px;
	transition: all 0.5s ease-in-out;
}

.main li:nth-child(odd) {
	transform-origin: top;
	transform: perspective(350px) rotateX(-90deg);
}

.main li:nth-child(even) {
	margin-top: -65px;
	transform-origin: bottom;
	transform: perspective(350px) rotateX(90deg);
}

.hov:hover li:nth-child(odd) {
	transform-origin: top;
	transform: perspective(350px) rotateX(0deg);
	margin-top: 0;
}

.hov:hover li:nth-child(even) {
	transform-origin: bottom;
	transform: perspective(350px) rotateX(0deg);
	margin-top: 0;
}

.hov:hover li:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.main li:first-child {
	margin-top: 0;
}

.hov {
	position: relative;
	height: 40px;
	width: 112px;
	color: white;
	font-size: 13px;
	font-family: Helvetica;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	list-style: none;
	z-index: 2;
}

.main li:first-child {
	margin-top: 0;
}

.hov {
	position: relative;
	height: 40px;
	width: 112px;
	color: white;
	font-size: 13px;
	font-family: Helvetica;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	list-style: none;
	z-index: 2;
}

.navanimal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #003049;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	max-height: 90vh;
	height: 20vh;
}

.t1 {
	all: unset;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #ffffff;
	font-size: 2rem;
}

.t1:hover {
	color: #33ffff;
	cursor: pointer;
	padding: 0;
}

#anim {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	justify-content: space-around;
}

#anim li {
	list-style: none;
	padding-right: 50px;
}
