
/* style de la nav bar */
.nav{
    /* deplacer la marge a gauche */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(45, 44, 44);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

.nav h2{
    color: #fff;
    font-size: 1.7rem;
}

#item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#item li{
    list-style: none;
    padding-right: 50px;
}

.p1, .p2, .p3, .p4, .p5{
    color: whitesmoke;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    /*fixate the problem of the border bottom*/
}

.p1:hover, .p2:hover, .p3:hover, .p4:hover, .p5:hover{
    color:#33ffff;
    cursor: pointer;
    border-bottom: 2px solid #33ffff;

}

#item .icon i{
    /*grossir l'icone*/
    font-size: 1.5rem;
    color:white;
    padding-right:30px;
    font-weight: bolder; 
}

#item .icon i:hover{
    color:#33ffff;
    cursor: pointer;

    

}


.image{
    /* changer la couleur de l'image */
    
    filter: hue-rotate(90deg);
    

}

.image:hover{
    /* changer la couleur de l'image */
    filter: invert(100%);
    
    

}


.logo{
    /* mettre l'image en rond */
    scale:80%;
    filter: invert(100%);
}

.logo:hover{
    cursor:not-allowed;
    /* c */
}




nav{

}

ul,li{
  margin: 0;
  padding: 0;
}
.main{
  position:absolute;
  z-index:1;
  
}
.main li{
  list-style:none;
  background:rgb(45, 44, 44) ;
  width:100px;
  padding: 0 5px;
  border: 1px solid black;
  height: 30px;

  line-height: 30px;
  
  -webkit-transition: all .5s ease-in-out;
  
}

.main li:nth-child(odd){
  
  -webkit-transform-origin: top;
  -webkit-transform: perspective(350px) rotateX(-90deg);
}

.main li:nth-child(even){
   margin-top:-65px;
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(350px) rotateX(90deg);
}

/*.main {
  
  -webkit-transition: all .5s ease-in-out;
  -webkit-transform-origin: 50% 0%;
  -webkit-transform: perspective(350px) rotateX(-90deg);
}

.hov:hover .main {
  
  -webkit-transform-origin: top;
  -webkit-transform: perspective(350px) rotateX(0deg);
}*/

.hov:hover li:nth-child(odd){
  -webkit-transform-origin: top;
  -webkit-transform: perspective(350px) rotateX(0deg);
  margin-top:0;
}

.hov:hover li:nth-child(even){
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(350px) rotateX(0deg);
   margin-top:0;
}

.main li:first-child{
  margin-top:0;
}

.hov{
  position:relative;
  height: 40px;
  width:112px;

  color: white;
  font-size: 13px;
  font-family: Helvetica;
  font-weight:bold;
  text-align: center;
  line-height: 40px;
  list-style:none;
  z-index:2;
  
}

