html{
    overflow: hidden;
}

.title1{
    /* mettre une font */
    padding-top: 3vh;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* mettre au centre */
    text-align: center;
    /* mettre en plus grand  */
    font-size: 3rem;
}

.balance{
    /* mettre une font */
    padding-top: 1vh;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* mettre au centre */
    text-align: center;
    /* mettre en plus grand  */
    font-size: 3rem;
    color: green    ;

}
.title2{
    /* mettre une font */
    padding-top: 3vh;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* mettre au centre */
    text-align: center;
    /* mettre en plus grand  */
    font-size: 3rem;
}

.center{
    /* put element in the middle */
    display: flex;
    align-items: center;
    /* in column */
    flex-direction: column;


}

.fill{
    
	height: 40px;
	border: 3px solid #ccc;
	border-radius: 5px;
	font-size: 1rem;
	outline: none;
	border-color: rgb(0, 0, 0);
	text-align: center;
	width: 30%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* EN GRAS  */
    font-weight: bold;
}

.ligne{
    /* mettre en ligne */

    display: flex;
    /* aligner en row */
    flex-direction: row;
    /* prendre tout l'espace */
    justify-content: space-between;
    /* width: 0%; */
    /* prendre la largeur max */
    padding-top: 2vh;
    padding-bottom: 2vh;
    

    
    
}

.subfill{
    height: 40px;
	border: 3px solid #ccc;
	border-radius: 5px;
	font-size: 1rem;
	outline: none;
	border-color: rgb(0, 0, 0);
	text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* EN GRAS  */
    font-weight: bold;

}

.space{
    width: 6vh;
}

.button2{
    all:unset;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* en gras */
    font-weight: bold;
    scale: 1vh;
    /* background green */
    background-color: green;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    color: white;
    /* border left radius*/
    border-top-left-radius: 30px;
    /* border right radius*/
    border-top-right-radius: 30px;
    
    /* border left radius*/
    border-bottom-left-radius: 30px;
    /* border right radius*/
    border-bottom-right-radius: 30px;

    

    margin-top: 3vh;
    /* desactiver decoration */
    
    text-decoration: none;
}

.button2:hover{
    cursor: pointer;
}